.detaisSection {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
  margin: 10vh auto 4vh;
  width: 90vw;
}

.orderSection {
  border: 1px solid rgba(0, 0, 0, 0.3);
  overflow-x: auto;
  padding: 20px;
  position: relative;
}

.orderDetails {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 2vh 4vw;
  justify-content: center;
  min-width: 436px;
  padding: 10px;
  width: 100%;
}

.detailsOrderId {
  text-transform: uppercase;
  white-space: nowrap;
}

.detailsSeller {
  white-space: nowrap;
}

.detailsDate, .detailsStatus {
  background-color: rgba(224, 233, 231, 0.493);
  border-radius: 10px;
  font-weight: 700;
  padding: 0.5rem 3.5rem;
}

.detailsStatus {
  background-color: var(--secondaryColor);
}

.detailsBtn {
  background-color: var(--primaryColor);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.detailsTable {
  border-collapse: collapse;
  margin: 10px auto 100px;
  text-align: center;
  width: 100%;
}

.detailsTableItemsTr td {
  padding: 10px 0;
}

.detailsTableItems {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  max-height: 50px;
  min-width: 50px;
  padding: 20px;
}

.detailsItemIndex {
  background-color: var(--secondaryColor);
  border-radius: 10px 0 0 10px;
}

.detailsDescription {
  background-color: rgba(224, 233, 231, 0.493);
  min-width: 150px;
}

.detailsQuantity {
  background-color: var(--primaryColor);
  color: white;
}

.detailsPrice {
  background-color: var(--tertiaryColor);
  color: white;
}

.detailsSubtotal {
  background-color: var(--quartenaryColor);
  border-radius: 0 10px 10px 0;
  color: white;
}

.totalPriceDetails {
  background-color: var(--primaryColor);
  border-radius: 10px;
  bottom: 10px;
  color: white;
  font-size: 2rem;
  padding: 1rem;
  position: absolute;
  right: 10px;
}

@media ( max-width : 550px ) {

  .detaisSection {
    margin-top: 15vh;
  }

  .totalPriceDetails {
    font-size: 1.5rem;
    left: 10px;
    text-align: center;
  }

}
